<div class="row">
  <div class="col">
    <p>Player 1: {{match['player1']}}</p>
    <p>Player 2: {{match['player2']}}</p>
    <p>Match Winner: {{match['winner']}}</p>
    <p>match complete: {{match['match_complete']}}</p>
    <div *ngFor="let game of match.games">

      <a href="view/{{matchId}}/games/{{game._id}}">Game</a>
    </div>


    <a class="ml-2 btn btn-primary" href="/edit/{{match['_id']}}">Edit</a>

    <button
      class="ml-2 btn btn-primary"
      (click)="deleteMatch(match['_id'])"
    >
      Delete
    </button>

    <button
      class="ml-2 btn btn-primary"
      (click)="addGame(match['_id'])"
    >
      Add Game
    </button>

  </div>
</div>
