<div *ngIf="match" class="game">
  <app-glance [match]="match"></app-glance>
  <app-table *ngIf="match" [match]="match"></app-table>
  <app-box-score *ngIf="match" [matchData]="match"></app-box-score>
  <form>
      <div class="form-group">
        <label for="gameIndex">Select Game</label>
        <select name="gameIndex" [(ngModel)]="gameIndex" class="form-control">
          <option *ngFor="let game of match.games; let i=index" type="number" value="{{ i }}">{{ i+1 }}</option>
        </select>
      </div>
      <div class="text-right">
        <button class="btn btn-primary" (click)="setGameIndex(gameIndex)">Submit</button>
      </div>
    </form>
  <app-summary *ngIf="match" [match]="match" [gameIndex]="gameIndex"></app-summary>
</div>
