<div class="bg-white pl-3 pt-3 pr-3 pb-0 box-score">
  <table class="table table-bordered mb-0">
    <tr class="justify-content-end bg-secondary text-white">
      <td class="mr-auto w-50 p-1">PLAYER</td>
      <td class="text-center p-1">GW</td>
      <td class="text-center p-1">G1</td>
      <td class="text-center p-1">G2</td>
      <td class="text-center p-1">G3</td>
      <td class="text-center p-1">G4</td>
      <td class="text-center p-1">G5</td>
    </tr>
    <tr class="justify-content-end">
      <td class="mr-auto w-50 p-1">{{ matchData.player1.toUpperCase() }}</td>
      <td class="text-center p-1">{{ p1GamesWon }}</td>
      <td class="text-center p-1"><div *ngIf="matchData.games[0]">{{ matchData.games[0].p1_points_scored }}</div></td>
      <td class="text-center p-1"><div *ngIf="matchData.games[1]">{{ matchData.games[1].p1_points_scored }}</div></td>
      <td class="text-center p-1"><div *ngIf="matchData.games[2]">{{ matchData.games[2].p1_points_scored }}</div></td>
      <td class="text-center p-1"><div *ngIf="matchData.games[3]">{{ matchData.games[3].p1_points_scored }}</div></td>
      <td class="text-center p-1"><div *ngIf="matchData.games[4]">{{ matchData.games[4].p1_points_scored }}</div></td>
    </tr>
    <tr class="justify-content-end">
      <td class="mr-auto w-50 p-1">{{ matchData.player2.toUpperCase() }}</td>
      <td class="text-center p-1">{{ p2GamesWon }}</td>
      <td class="text-center p-1"><div *ngIf="matchData.games[0]">{{ matchData.games[0].p2_points_scored }}</div></td>
      <td class="text-center p-1"><div *ngIf="matchData.games[1]">{{ matchData.games[1].p2_points_scored }}</div></td>
      <td class="text-center p-1"><div *ngIf="matchData.games[2]">{{ matchData.games[2].p2_points_scored }}</div></td>
      <td class="text-center p-1"><div *ngIf="matchData.games[3]">{{ matchData.games[3].p2_points_scored }}</div></td>
      <td class="text-center p-1"><div *ngIf="matchData.games[4]">{{ matchData.games[4].p2_points_scored }}</div></td>
    </tr>
  </table>
</div>