<div class="bg-white p-3 rounded-top box-score">
  <table class="table table-bordered">
    <tr class="justify-content-end bg-secondary text-white">
      <td class="mr-auto w-50 p-1">PLAYER</td>
      <td class="text-center p-1">GW</td>
      <td class="text-center p-1">G1</td>
      <td class="text-center p-1">G2</td>
      <td class="text-center p-1">G3</td>
      <td class="text-center p-1">G4</td>
      <td class="text-center p-1">G5</td>
    </tr>
    <tr class="justify-content-end">
      <td class="mr-auto w-50 p-1">{{ gameStateData.player1.toUpperCase() }} (SERVING)</td>
      <td class="text-center p-1">{{ gameStateData.p1MatchPoints }}</td>
      <td class="text-center p-1">{{ gameStateData.p1GamePoints }}</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
    </tr>
    <tr class="justify-content-end">
      <td class="mr-auto w-50 p-1">{{ gameStateData.player2.toUpperCase() }} </td>
      <td class="text-center p-1">{{ gameStateData.p2MatchPoints }}</td>
      <td class="text-center p-1">{{ gameStateData.p2GamePoints }}</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
    </tr>
  </table>
</div>