<div class="bg-white p-3 rounded-top box-score">
  <table class="table table-bordered">
    <tr class="justify-content-end bg-secondary text-white">
      <td class="mr-auto w-50 p-1">PLAYER</td>
      <td class="text-center p-1">GW</td>
      <td class="text-center p-1">G1</td>
      <td class="text-center p-1">G2</td>
      <td class="text-center p-1">G3</td>
      <td class="text-center p-1">G4</td>
      <td class="text-center p-1">G5</td>
    </tr>
    <tr class="justify-content-end">
      <td class="mr-auto w-50 p-1">ALEKS</td>
      <td class="text-center p-1">1</td>
      <td class="text-center p-1">11</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
    </tr>
    <tr class="justify-content-end">
      <td class="mr-auto w-50 p-1">KIRILL</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">9</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
      <td class="text-center p-1">0</td>
    </tr>
  </table>
</div>