<div class="p-2 rounded-bottom header w-840 text-center">
  <h4 class="text-white m-0">WATCH A PING-PONG MATCH</h4>
</div>

<p class="d-inline-block mt-3 mb-2">Sort By:</p>
<a  (click)="sortByDate()"> Creation Date</a> |


<div *ngIf="matches.length > 0" class="mb-3">
  <div *ngFor="let match of matches">
    <div class="card mt-2 mb-2">
      <h5 class="card-header">{{ match.player1 }} vs. {{ match.player2 }}</h5>
      <div class="card-body">
        <p class="card-text">{{ match.player1 }}: {{ match.p1_games_won }} - {{ match.player2 }}: {{ match.p2_games_won }}</p>
        <p class="card-text">Match created {{ match.createdAt | date: 'EEEE, MMMM d, y'}} at {{ match.createdAt | date: 'shortTime'}}.</p>
        <div class="text-right">
          <a class=" btn btn-primary" href="/view/{{ match._id }}">View Match</a>
        </div>
      </div>
    </div>
  </div>
</div>
