<div class="row">
  <div class="col">
    <h1>Know of a pet needing a home?</h1>
    <div *ngIf="errors">
      <h3>Validation Errors</h3>
      <p>{{ errors.message }}</p>
    </div>
    <form (submit)="addPet(newPet)">
      <div class="form-group">
        <label for="newPet.name">Pet Name</label>
        <input
          class="form-control"
          type="text"
          id="newPet.name"
          name="newPet.name"
          [(ngModel)]="newPet['name']"
          autofocus
        />
      </div>
      <div class="form-group">
        <label for="newPet.type">Pet Type</label>
        <input
          class="form-control"
          type="text"
          id="newPet.type"
          name="newPet.type"
          [(ngModel)]="newPet['type']"
        />
      </div>

      <div class="form-group">
        <label for="newPet.description">Pet Description</label>
        <input
          class="form-control"
          type="text"
          id="newPet.description"
          name="newPet.description"
          [(ngModel)]="newPet['description']"
        />
      </div>
      <p>Skills:</p>
      <div class="ml-3">
        <div class="form-group">
          <label for="newPet.skill1">Skill 1:</label>
          <input
            class="form-control"
            type="text"
            id="newPet.skill1"
            name="newPet.skill1"
            [(ngModel)]="newPet['skill1']"
          />
        </div>

        <div class="form-group">
          <label for="newPet.skill2">Skill 2:</label>
          <input
            class="form-control"
            type="text"
            id="newPet.skill2"
            name="newPet.skill2"
            [(ngModel)]="newPet['skill2']"
          />
        </div>

        <div class="form-group">
          <label for="newPet.skill3">Skill 3:</label>
          <input
            class="form-control"
            type="text"
            id="newPet.skill3"
            name="newPet.skill3"
            [(ngModel)]="newPet['skill3']"
          />
        </div>
      </div>

      <input class="btn btn-primary" type="submit" value="Add Pet" />
      <a href="/" class="ml-2 btn btn-primary">Cancel</a>
    </form>
    <p>{{ newPet | json }}</p>
  </div>
</div>
