<div class="my-3 d-flex justify-content-center">
  <div id="drawing" class="shadow" (click)="newGameEvent($event)"></div>
</div>
{{ gameStateData | json }}
<div class="bg-white p-3 my-3 rounded box-score">
  <div class="w-50">
    <form>
      <div class="form-group">
        <label for="gameStateData.type">Non-Scoring Game Events</label>
        <select name="gameStateData.type" [(ngModel)]="gameStateData.type" class="form-control">
          <option *ngFor="let type of nonScoreTypesArray" value="{{ type }}">{{ type }}</option>
          <option>{{gameStateData.player1}} Wins Game</option>
          <option>{{gameStateData.player2}} Wins Game</option>
          <option>{{gameStateData.player1}} Wins Match</option>
          <option>{{gameStateData.player2}} Wins Match</option>
        </select>             
      </div>
    </form>
  </div>
</div>