<div class="my-3 d-flex justify-content-center">
  <div id="drawing" class="shadow" (click)="newGameEvent($event)"></div>
</div>
{{ gameStateData | json }}
<div class="bg-white p-3 my-3 rounded box-score">
  <div class="w-50">
    <form>
      <select name="gameStateData.type" [(ngModel)]="gameStateData.type">
        <option value="Non-Scoring Game Event">Non-Scoring Game Event</option>
        <option *ngFor="let type of nonScoreTypesArray" value="{{ type }}">{{ type }}</option>
      </select>
    </form>
  </div>
</div>