<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Match Shelter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="/new">New<span class="sr-only">(current)</span></a>

        </li>
      </ul>
    </div>
  </nav>

    <div class="row">
      <div class="col">
        <h1>Button Game</h1>
        <h3>The button has been pushed <span id="numClicks">{{numClicks}}</span> times</h3>
        <div id="msg"></div>


        <button class="btn btn-primary btn-lg btn-block" id="epicBtn">Push the Epic Button</button>
        <button class="btn btn-primary btn-lg btn-block" id="epicBtn2">Push the Epic Button 2</button>
        <button class="mt-2 btn btn-danger btn-lg " id="resetBtn">Reset Count</button>



      </div>
    </div>
    <button class="btn btn-primary btn-lg btn-block"  (click)=onButtonClickTestSocket()>test</button>
  <router-outlet></router-outlet>

</div>
