body {
    background-color: #ffe9a7;
    font-family: 'Kanit', sans-serif;
}

nav {
    background-color: #022b6d;
}

nav p {
    color: #ffe9a7;
}

nav a {
    color: white;
}

nav a:hover {
    color: #ffe9a7;
}

.game {
    width: 840px;
    background-color: #ffe9a7;
}

table {
    width: 640px;
}

.header {
    background-color: #022b6d;
}

.w-840 {
    width: 840px;
}

.main {
    line-height: 2em;
}