<div class="bg-white p-3 rounded-bottom mb-3 summary">
  <div class="p-0 d-flex justify-content-end">
    <span class="p-2 mr-auto text-uppercase">SCORING SUMMARY</span>
    <span class="p-2">ALE</span>
    <span class="p-2">KIR</span>
  </div>
  <div class="border-left border-top border-right p-0 d-flex justify-content-end">
    <span class="p-2 mr-auto text-uppercase">Aleks (serving)</span>
    <span class="p-2">00</span>
    <span class="border-left border-right p-2">00</span>
    <span class="border-right p-2">00</span>
    <span class="border-right p-2">00</span>
    <span class="border-right p-2">00</span>
    <span class="p-2">00</span>
  </div>
  <div class="border p-0 d-flex justify-content-end">
    <span class="p-2 mr-auto text-uppercase">Kirill</span>
    <span class="p-2">00</span>
    <span class="border-left border-right p-2">00</span>
    <span class="border-right p-2">00</span>
    <span class="border-right p-2">00</span>
    <span class="border-right p-2">00</span>
    <span class="p-2">00</span>
  </div>
</div>