<div class="bg-white p-3 rounded-bottom summary">
  <!-- {{match.games[gameIndex].game_events | json}} -->
  {{gameIndex | json}}
  {{game_event | json}}

  <table class="table table-bordered mb-3">
    <tr class="justify-content-end bg-secondary text-white">
      <td class="w-75 mr-auto p-1">GAME SUMMARY</td>
      <td class="text-center p-1">{{match.player1}}</td>
      <td class="text-center p-1">{{match.player2}}</td>
    </tr>
    <tr *ngFor="let game_event of match.games[gameIndex].game_events">
        <td class="w-75 mr-auto p-1">{{game_event.scorer}} scored on a {{game_event.type}} shot - {{ game_event.createdAt | date: 'h:mm:ss a'}}</td>
        <td class="text-center p-1">{{game_event.p1_points_scored}}</td>
        <td class="text-center p-1">{{game_event.p2_points_scored}}</td>
    </tr>
    <tr class="justify-content-end">
      <td colspan="3" class="p-1">G1 - END OF FIRST GAME</td>
    </tr>
    <tr class="justify-content-end">
      <td class="w-75 mr-auto p-1">G1 - ALEKS SCORED ON A SMASH</td>
      <td class="text-center p-1">11</td>
      <td class="text-center p-1">9</td>
    </tr>
    <tr class="justify-content-end">
      <td class="w-75 mr-auto p-1">G1 - KIRILL SCORED ON A HIT</td>
      <td class="text-center p-1">10</td>
      <td class="text-center p-1">9</td>
    </tr>
    <tr class="justify-content-end">
      <td colspan="3" class="p-1">G1 - SERVICE CHANGE</td>
    </tr>
    <tr class="justify-content-end">
      <td class="w-75 mr-auto p-1">G1 - KIRILL SCORED ON A DROP SHOT</td>
      <td class="text-center p-1">10</td>
      <td class="text-center p-1">8</td>
    </tr>
    <tr class="justify-content-end">
      <td class="w-75 mr-auto p-1">G1 - KIRILL SCORED ON A HIT</td>
      <td class="text-center p-1">10</td>
      <td class="text-center p-1">7</td>
    </tr>
    <tr class="justify-content-end">
      <td colspan="3" class="p-1">G1 - SERVICE CHANGE</td>
    </tr>
  </table>

</div>
