<div class="d-flex justify-content-between align-items-center px-3 rounded-bottom glance">
  <div class="text-center">
    <i class="fas fa-user"></i>
    <p class="text-uppercase mb-0" style="font-size: small;">Aleks</p>
  </div>
  <div class="score text-center p-3">
    <h3 class="mb-0">0 - 0</h3>
    <p class="mb-0 text-uppercase">First Game</p>
  </div>
  <div class="text-center">
    <i class="fas fa-user"></i>
    <p class="text-uppercase mb-0" style="font-size: small;">Kirill</p>
  </div>
</div>